# Ignore compiled Python bytecode.

*.pyc

# For Python code that is distributed with setuptools, ignore intermediate build and distribution
# directories.

build
dist
*.egg-info

# For projects where I use TextMate, ignore the TextMate project file.

*.tmproj